*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}


/* .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .postText {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .author {
    font-size: 18px;
    font-weight: bold;
  }
   */


.blog-container{
    margin-top: 3rem;

}


.blog-article{
    margin-left: 15rem;
    width: 1000px;
    margin-top: 12rem;
    line-height: 2rem;
 
}

.blog-heading{
    margin-left: 15rem;
    margin-top: 12rem;
    width: 70rem;
}


.blog-img{
    width: 70%;
    margin-top: 2rem;
    margin-left: 10rem;
}



@media (max-width:768px) {

  .blog-container{
    margin-left: -14rem;
  }

  .blog-heading{
    
    width: 23rem;
    font-size: 12px;

  }

  .blog-article{
    width: 456px;
    font-size: 12px;
  }

  .blog-img{
    margin-left: 4rem;
  }
}


